



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ты прибыл в город !!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/MoveToCity.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/CityStyle.css' %}">

</head>
<body>

    <div class="center_div">
        
        <h1>Вы прибыли в город {{ city }} </h1>





        <div class="bud">
            <h3>Ваш бюджет </h3>
            <h3 id="dealer_money"></h3>
            <h3>cosmic-ов</h3>


        </div>

        <div class="ShopBox">


            <div class="productsBox">
            <h1>Что вы хотите продать в городе?</h1>
                {% for product in dealer_products %}
                <button class="OneProduct" onclick="SellProduct('{{product.id }}')">
                    
                    <p>
                        {{ product }}
                    </p>
                    <p>
                         {{ product.cost }} cosmic-ов
                    </p>


                 </button>
                {% endfor %}
            </div>
            
            <div class="">
                <p><></p>
 
               
            </div>

            <div class="productsBox">
            <h1>Что вы хотите купить в городе?</h1>
                {% for product in city_products %}
                <button class="OneProduct" onclick="BuyProduct('{{product.id }}')"> 
                    <p>
                        {{ product }}
                    </p>
                    <p>
                         {{ product.cost }} cosmic-ов
                    </p>
                    
                </button>
                {% endfor %}
            </div>

        </div>

        <a href="{% url 'listCitysUrl' %}" class="listCitys">Куда дальше едем?</a>
        

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="{% static 'js/TravelsDone.js' %}"></script>
    
</body>
</html>