

body {
  background-color: rgb(226, 145, 23);
}


.center_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.flex_row_cityList{
  display: flex;
  flex-direction: column;
}

.flex_row_cityList a {
  margin: 1rem;
  font-size: 25px;
  color: black;
}